.crud__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .crud__title {
    margin-right: 1rem;
    font-size: 1.5rem;
  }
  
  .crud__btn-udate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 36px;
    height: 36px;
    font-size: 0.5rem;
    color: #3fd13f;
    border: 1px solid grey;
    border-radius: 50%;
    transition: box-shadow 0.3s;
  }
  
  .crud__btn-udate:hover {
    box-shadow: 0 0 5px 0 grey;
  }
  
  ._animated {
    animation-name: update;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }
  
  @keyframes update {
    0% {
      transform: rotate(0deg);
      box-shadow: 0 0 5px 0 grey;
    }
    100% {
      transform: rotate(360deg);
      box-shadow: 0 0 5px 0 grey;
    }
  }
  
  .crud__btn-udate .material-icons {
    display: block;
  }